doctype html
html
	head
		meta(charset='utf-8')
		title Mojibake Decoder
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css', integrity='sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA==', crossorigin='anonymous')
		style(type="text/css").
			.result {
				line-height: 1.5;
				padding-bottom: calc(0.375em - 1px);
				padding-left: calc(0.625em - 1px);
				padding-right: calc(0.625em - 1px);
				padding-top: calc(0.375em - 1px);
				margin-bottom: 0.75rem;
				background-color: whitesmoke;
				color: #4a4a4a;
				font-size: 1rem;
			}
			.footer { font-size: 85%; padding-bottom: 3rem; }
				/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
				html {height: 100%; overflow: visible;}
				body {
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				flex-direction: column;
				height: 100%;
			}
			header, footer {
				-webkit-box-flex: 0;
				-webkit-flex: none;
				flex: none;
			}
			main {
				-webkit-box-flex: 1;
				-webkit-flex: 1 0 auto;
				flex: 1 0 auto;
			}
	body
		header.hero.is-primary.is-bold
			.hero-body: .container
				h1
					.title Mojibake Decoder
					// div class="subtitle">L&amp;amp;Atilde;&amp;amp;sup3;pez?</div
		main.section.container.content
			form(method='GET')
				label.label(for='mojibake') Mojibake:
				.field.has-addons
					p.control.is-expanded
						input.input(type='text', name='mojibake', value=mojibake)
					p.control
						input.button.is-primary(type='submit', value='Decode')
				if decoded
					strong Decoded:
					.result=decoded
				.field.is-horizontal
					.field-label.is-normal: label.label Fix entities
					.field-body
						.control: .field
							.select: select(name="fix_entities")
								option(value="True", selected=(options['fix_entities']==True)) Yes
								option(value="False", selected=(options['fix_entities']==False)) No
								option(value="auto", selected=(options['fix_entities']=='auto')) Auto
							.help.
								Yes: Replace HTML entities (e.g. #[code &amp;amp;]) with their values. #[br]
								No: Do not replace HTML entities.#[br]
								Auto: Replace HTML entities in text that doesn't look like HTML.
				mixin option-bool(code, name, help)
					.field.is-horizontal
						.field-label: label.label=name
						.field-body
							.field.is-narrow: .control
								label.radio
									input(type="radio", name=code, value="True", checked=options[code])
									= ' Yes'
								label.radio
									input(type="radio", name=code, value="False", checked=(not options[code]))
									= ' No'
								.help=help
				+option-bool('remove_terminal_escapes', "Remove terminal escapes", "Remove terminal control sequences, like codes to change the text color.")
				+option-bool('fix_encoding', "Fix encoding", "Attempt to repair mistakes caused by misinterpreting Unicode data.")
				+option-bool('fix_latin_ligatures', "Separate Latin ligatures", "Separate ligatures (such as ﬁ) into individual letters.")
				+option-bool('fix_character_width', "Fix character width", "Replace half-width and full-width characters with their standard-width form.")
				+option-bool('uncurl_quotes', "Uncurl quotes", "Replace various forms of ‘curly’ “quotes” with plain ASCII 'straight' \"quotes\".")
				+option-bool('fix_surrogates', "Fix surrogates", "Ensure that there are no UTF-16 surrogates in the resulting string, by converting them to the correct characters when they’re appropriately paired, or replacing them with ufffd otherwise.")
				+option-bool('remove_control_chars', "Remove control characters", "Remove control characters that are not suitable for use in text. This includes most of the ASCII control characters, plus some Unicode controls such as the byte order mark (U+FEFF). Useful control characters, such as Tab, Line Feed, and bidirectional marks, are left as they are.")
				.field.is-horizontal
					.field-label.is-normal: label.label Normalization
					.field-body
						.control: .field
							.select: select(name="normalization")
								option(selected=(options['normalization'] == 'NFC')) NFC
								option(selected=(options['normalization'] == 'NFD')) NFD
								option(selected=(options['normalization'] == 'NFKC')) NFKC
								option(selected=(options['normalization'] == 'NFKD')) NFKD
							.help.
								Which
								#[a(href="https://en.wikipedia.org/wiki/Unicode_equivalence#Normal_forms") Unicode normal form]
								to use for normalizing the string.

		footer.footer
			.container
				.content.has-text-centered
					= 'Built by '
					a(href='https://www.linestarve.com/') Wolfgang Faust
					= ' '
					| &bull;
					= ' '
					a(href='https://github.com/wolfgang42/ftfyweb')
						img(width='16', height='16', alt='GitHub:', style='vertical-align:middle;', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAQMAAACQp+OdAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAMxJREFUKFOt0rFtBCEURdE7IiCkBEqhNCZzWyO5EbYDNiNAXAesPCvboYmOxH/iIQDIAwCCXgAk7QBUXQCovkb2UFRtQFYdQFGdO7RjumPHxnkjrKKzXsSVtNVGXEGv2kgToHTyD4wbZQHUeaPurfWGAZDfsO+UvuE/I4vjhfv038V250URwEnxguAk2yE5yB8LqoP86RW0kx6eh3bi0/PQRuyCNsIooBfHAPTkmC+wnwGogAsoD3Dulrt4FGxAEPYPEIQdmwAk6PyxvgA2bdfnuuNAlAAAAABJRU5ErkJggg==')
						|  wolfgang42/ftfyweb
					div(style='padding-top:.5em;') Powered by #[a(href='https://ftfy.readthedocs.io/en/latest/') ftfy] v#{ftfy_version}
		if piwik
			script(type="text/javascript").
				var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.linestarve.com/" : "http://analytics.linestarve.com/");
				document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
			script(type="text/javascript").
				try {
				var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
				piwikTracker.trackPageView();
				piwikTracker.enableLinkTracking();
				} catch( err ) {}
			<noscript><p><img src="https://analytics.linestarve.com/piwik.php?idsite=1&rec=1" style="border:0" alt="" /></p></noscript>
